<!DOCTYPE html>
<html>
  <head>
    <title>Guess the number</title>
  </head>
  <body>
    <h1>Guess the number</h1>
    <p th:text="${game.message}" />
    <p th:text="'You have made ' + ${game.trials} + ' guesses.'" />
    <form th:action="@{/play}" th:object="${guessForm}" method="POST">
        <label for="guess"> Enter a number between 1 to 100: </label>
        <input type="text" th:field="*{guess}" />
        <br />
        <input type="submit" value="Guess" />
    </form>
  </body>
</html>