<!-- 
1. Implement the view for a HTTP Form that can handle both create and update of entity Events. 
The view must embedded by the layout.html. This view must show proper page title, form action and button text 
display based on whether it is create or update action.

You can refer to that of items/form.html for a similar implementation. 

For event date, you can use the following code snippet:
        <div class="form-group">
            <label for="eventDate">Event Date</label>
            <input type="datetime-local" class="form-control" id="eventDate" placeholder="YYYY-MM-DD" th:field="*{eventDate}">
            <span th:if="${#fields.hasErrors('eventDate')}" th:errors="*{eventDate}" th:errorclass="text-danger">Event Date</span>
        </div>
-->